@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-welcome {
      @apply text-welcome-sm md:text-welcome-md lg:text-welcome-lg;
  }
  .text-welcome-outline {
      @apply text-welcome-outline-sm md:text-welcome-outline-md lg:text-welcome-outline-lg;
  }
  .text-display {
      @apply text-display-sm md:text-display-md lg:text-display-lg;
  }
  .text-headline {
      @apply text-headline-sm md:text-headline-md lg:text-headline-lg;
  }
  .text-title {
      @apply text-title-sm md:text-title-md lg:text-title-lg;
  }
  .text-label {
      @apply text-label-sm md:text-label-md lg:text-label-lg;
  }
  .text-body {
      @apply text-body-sm md:text-body-md lg:text-body-lg;
  }
  .text-navigation {
      @apply text-navigation-sm md:text-navigation-md lg:text-navigation-lg;
  }
  .btn {
      @apply hover:opacity-hover cursor-pointer;
  }
  .btn-primary {
    @apply btn bg-primary rounded-button py-1 px-4 lg:px-6 lg:py-2 gap-2 lg:gap-4;
  }
  .btn-secondary {
    @apply btn bg-secondary rounded-button py-1 px-4 lg:px-6 lg:py-2 gap-2 lg:gap-4;
  }
  .btn-outline {
    @apply btn bg-transparent border border-black-outline rounded-button py-1 px-4 lg:px-6 lg:py-2 gap-2 lg:gap-4 text-black-outline;
  }
  .bloom {
    @apply absolute left-0 top-0 z-[-1] h-full w-full blur-sm;
  }
  .text-stroke {
    text-shadow: -2px -2px 0 #8294C4, 2px -2px 0 #8294C4, -2px 2px 0 #8294C4, 2px 2px 0 #8294C4;
  }
  .as-shadow {
    @apply absolute left-[2.8%] top-[3.6%] z-[-1] text-secondary cursor-none
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  --ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
  display: 'none'; /* Remove scrollbar in Safari and Chrome */
  width: 0; /* Remove scrollbar in Safari and Chrome */
}