@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-welcome {
      @apply text-welcome-sm md:text-welcome-md lg:text-welcome-lg;
  }
  .text-display {
      @apply text-display-sm md:text-display-md lg:text-display-lg;
  }
  .text-headline {
      @apply text-headline-sm md:text-headline-md lg:text-headline-lg;
  }
  .text-title {
      @apply text-title-sm md:text-title-md lg:text-title-lg;
  }
  .text-label {
      @apply text-label-sm md:text-label-md lg:text-label-lg;
  }
  .text-body {
      @apply text-body-sm md:text-body-md lg:text-body-lg;
  }
  .btn {
      @apply hover:opacity-hover cursor-pointer;
  }
  .bloom {
    @apply absolute left-0 top-0 z-[-1] h-full w-full blur-sm;
}
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  --ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
